.main {
    margin-left: 240px; /* Adjusted to accommodate the sidebar */
    padding: 20px;
    padding-top: 100px; /* Ensure there's space for the fixed header */
}

.table-container {
    width: 80%; /* Adjusted width for announcements */
    margin: 20px auto;
    overflow-x: auto; /* Add horizontal scrollbar */
}

.table-wrapper {
    overflow-y: auto; /* Add vertical scrollbar */
    max-height: 400px; /* Adjust max-height as needed */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.btn,
.btn.btn-primary {
    display: inline-block;
    padding: 8px 12px;
    background-color: #e0624f;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 20px; /* Set a fixed height for consistency */
    line-height: 20px; /* Adjust line height for vertical alignment */
}

.btn.btn-primary {
    text-decoration: none; /* Ensure consistency with anchor tag */
}

.btn.btn-danger {
    height: auto;
}

.btn:hover {
    background-color: #0056b3;
}

/* Popup alert styles */
.popup-alert {
    position: fixed;
    top: 70px; /* Adjust to be below the header */
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
  }
  
  .popup-alert.show {
    display: block;
  }