{% extends 'adminDashboard/base.html' %}
{% load static %}

{% block title %}Add District{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'district/addDistrict.css' %}">
    
    <div class="main">
        <h1 style="text-align: center;">Add District</h1>
        <form method="post" action="{% url 'create_district' %}" class="create-district-form">
            {% csrf_token %}
            {{ form.as_p }}
            <p>Enter multiple district names separated by semicolons (;)</p>
            <button type="submit" name="create-district">Add District</button>
        </form>
    </div>

    {% if success %}
        <div id="popupAlert" class="popup-alert show">
            District(s) successfully added!
        </div>
        <script>
            // Show the alert
            const alertBox = document.getElementById('popupAlert');
            alertBox.classList.add('show');
            
            // Hide the alert after 5 seconds
            setTimeout(() => {
                alertBox.classList.remove('show');
            }, 3000);
        </script>
    {% endif %}
{% endblock %}
