/* Set styles for the entire form */
.create-profile-form {
  margin: 0 auto; /* Center the form horizontally */
  width: 60%; /* Adjust form width as needed */
  padding: 20px; /* Add padding for spacing */
  background-color: #f9f9f9; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-top: 80px; /* Ensure space from the fixed header */
}

/* Set styles for form labels */
.create-profile-form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block; /* Display labels inline */
  width: 30%; /* Adjust label width */
  text-align: right; /* Align label text to the right */
  margin-right: 20px; /* Add space between label and input */
}

/* Set styles for text input fields */
.create-profile-form input[type="text"] {
  border: 1px solid #ccc;
  padding: 5px;
  width: calc(70% - 60px); /* Adjust input width */
  display: inline-block; /* Display inputs inline */
}

/* Set styles for the submit button */
.create-profile-form button {
  background-color: #d76359; /* Change button color */
  color: #fff; /* Set button text color */
  padding: 10px 20px; /* Adjust button padding */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-top: 10px; /* Add space above the button */
}

/* Main content styles */
.main {
  margin-left: 240px; /* Adjusted to accommodate the sidebar */
  padding: 20px;
  padding-top: 80px; /* Ensure there's space for the fixed header */
  }
  

.btn-disabled,
.btn.btn-danger:disabled {
    background-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
    border: 1px solid #aaa !important;
}

