{% extends 'adminDashboard/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'electionPhase/listPhases.css' %}">

<div class="main">
    <h1 style="text-align: center; margin: 30px 0px" >Election Status</h1>
    <div class="container">
        <table class="center-table" style="text-align: center; width: 70%">
            <tr >
                <th style="text-align: center; vertical-align: middle">Phase</th>
                <th style="text-align: center; vertical-align: middle">Status</th>
                <th style="text-align: center; vertical-align: middle">Action</th>
            </tr>
            {% for phase in phases %}
            <tr>
                <td style="text-align: center; vertical-align: middle">{{ phase.phase_name }}</td>
                <td class="{{ phase.is_active|yesno:'status-active,status-inactive' }}" style="text-align: center; vertical-align: middle">
                    {{ phase.is_active|yesno:"Active,Inactive" }}
                </td>
                <td style="text-align: center; vertical-align: middle">
                    {% if not phase.is_active %}
                    <a href="{% url 'activate_election_phase' phase.phase_id %}">Activate</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% if messages %}
    <div id="popupAlert" class="popup-alert show">
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    <script>
        // Show the alert
        const alertBox = document.getElementById('popupAlert');
        alertBox.classList.add('show');
        
        // Hide the alert after 3 seconds
        setTimeout(() => {
            alertBox.classList.remove('show');
        }, 3000); // Adjusted to 3 seconds
    </script>
{% endif %}
{% endblock %}
