body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #c53e3e, #ffffff);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: left;
    padding-right: 50px;
}

h2 {
    text-align: center;
    margin: 100px 0px 20px 10%;
}
form {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.changepassword-text-field {
    width: 100%; 
    padding: 10px; 
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid #ccc; 
    border-radius: 2px;
}

button {
    display: block;
    width: 40%;
    padding: 15px;
    margin-top: 20px;
    margin-left: 27%;
    background-color: #c53e3e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
button:hover {
    background-color: #ff3305;
}