{% extends "Voter/header.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="content">
            <div class="election_phase">
                <h2>Election Status: {{ active_phase.phase_name }}</h2>
            </div>
            <div class="announcements">
                <h2>Announcements</h2>
                {% for announcement in announcements %}
                <div class="announcement-box">
                    <h3>{{ announcement.header }}</h3>
                    <p>{{ announcement.content }}</p>
                </div>
                {% endfor %}
                <div class="view-all">
                    <a href="{% url 'view_all_announcements' %}">View all</a>
                </div>
            </div>
            <div class="districts" onclick="location.href='{% url 'view_all_districts' %}'" style="cursor: pointer;">
                <h2>Districts</h2>
                <div class="district-list">
                    <ul>
                        {% for district in districts %}
                        <li>{{ district.district_name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

