{% extends "generalUser/header.html" %}
{% load static %}

{% block title %}View All Announcements{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'adminDashboard/home.css' %}"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body{
        background: url('/static/images/redFlag.png') center center/cover fixed;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-attachment: fixed; 
    }

    h2{
        color:white;
    }
    

    
</style>
<div class="container_general">
    {% if announcements %}
    <h2>All Announcements</h2>
    {% for announcement in announcements %}
    <div class="announcement-box">
        <h3>{{ announcement.header }}</h3>
        <p>{{ announcement.content }}</p>
        <p><strong>Date:</strong> {{ announcement.date }}</p> 
    </div>
    {% endfor %}
    {% else %}
    <p style="text-align: center;">No announcements found.</p>
    {% endif %}
</div>
{% endblock %}
