  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    font-family: "Lato", sans-serif;
}

.logoImage img {
    height: 60px;
    padding-top: 3px;
}

.navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-right: 3rem;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation a:hover {
    background-color: #e87676;
    color: #f1f1f1;
}

@media screen and (max-width: 768px) {
  .header {
      padding: 0.5rem 1rem;
  }

  .logo-container {
      margin-bottom: 0.5rem;
  }

  .logo-container img {
      height: 40px;
  }

  .navigation {
      margin-top: 0.5rem; /* Optional: adjust spacing if needed */
  }

  .navigation li {
      margin-right: 1rem; /* Adjust spacing between items */
  }

  .navigation a {
      padding: 10px 12px; /* Adjust padding */
  }
}
@media screen and (max-width: 320px) {
    .header {
        padding: 0.5rem;
    }

    .navigation a {
        padding: 8px 6px;
        font-size: 0.9rem;
    }
}