body {
  background: linear-gradient(to top, #c53e3e, #ffffff);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 100px;
  text-align: center;
  position: relative;
}

.status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #f8d7da57;
  border-radius: 8px;
}

.ongoing-result, .final-result, .district, .status {
  font-weight: bold;
  font-size: 25px;
  color: #000000;
}

.final-result span {
  color: #d76359;
}

.district span {
  color: #000000;
}

.candidates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-height: 65vh;
  overflow-y: auto;
  margin-bottom: 20px;
}

.candidate {
  width: 350px;
  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  transition: transform 0.2s;
}

.candidate:hover {
  transform: scale(1.08);
  text-decoration: none;
}

.candidate img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
}

.candidate-link{
  text-decoration: none;
  color: inherit;
}

.candidate-link:hover h3,
.candidate-link:hover p {
  text-decoration: none;
}

.candidate h3 {
  margin-bottom: 5px;
  color: #000000;
  text-decoration: none;
  font-size: 25px;
}

.candidate p {
  margin: 0;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}


.vote-button-container {
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  width: 150px;
  height: 50px;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  font-size: 25px;
  border: 2px solid #c53e3e;
  transition: transform 0.2s;
  border-radius: 10%;
}

button:hover {
  background-color: #3892d3;
  color: #ffffff;
  transform: scale(1.05);
}


