<html>
<head>
    <title>Change Password</title>
    {% extends "Candidate/header.html" %}
    {% load static %}
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/changepassword.css' %}">
</head>

<body>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    
@media (max-width: 480px) {

    body{
        justify-content: flex-start;
    }

    h2 {
        margin: 20px 0px 20px 15%;

    }

    form {
        padding: 5px;
        margin: 20px 20px 20px;
    }

    button {
        width: 50%;
        margin-bottom: 20px;
    }

    .changepassword-text-field {
        width: 70%;
        margin-left: 10%;
    }

    label {
        margin-left: 10%
    }
    }
</style>

    <div class="container">
        <h2>Change Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change Password</button>
        </form>
    </div>
    {% if messages %}
    <div id="popupAlert" class="popup-alert show">
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    <script>
        // Show the alert
        const alertBox = document.getElementById('popupAlert');
        alertBox.classList.add('show');

        // Hide the alert after 3 seconds
        setTimeout(() => {
            alertBox.classList.remove('show');
        }, 3000); // Adjusted to 3 seconds
    </script>
{% endif %}
{% endblock %}
</body>
</html>