{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </div>
        <nav>
            <ul class="navigation">
                <li><a href="{% url 'general_user_home' %}">Home</a></li>
                <li><a href="https://electsg.github.io/electSG/">About us</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="main-content">
        <div class="login-container">
            <h2>Singpass Login</h2>
            <form method="POST" action="{% url 'singpass_login' %}">
                {% csrf_token %}
                <label for="singpass_id">Singpass ID:</label>
                <input type="text" id="username" name="singpass_id" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <footer>
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </div>
        <div class="contact-support-container">
            <div class="contact-info">
                <h3>Contact Us</h3>
                <p>Email: contact@electsg.com</p>
                <p>Phone: +65 80656786</p>
            </div>
            <div class="support-info">
                <h3>Support</h3>
                <p>Email: support@electsg.com</p>
                <p>Phone: +65 87666543</p>
            </div>
        </div>
    </footer>
</body>
</html>
