/* Set styles for the entire form */
.add-district-form {
    margin: 0 auto; /* Center the form horizontally */
    width: 60%; /* Adjust form width as needed */
  }
  
  /* Set styles for form labels */
  .add-district-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block; /* Display labels inline */
    width: 30%; /* Adjust label width */
    text-align: right; /* Align label text to the right */
  }
  
  /* Set styles for text and textarea input fields */
  .add-district-form input[type="text"],
  .add-district-form textarea {
    border: 1px solid #ccc;
    padding: 5px;
    width: calc(70% - 60px); /* Adjust input width */
    display: inline-block; /* Display inputs inline */
  }
  
  /* Set styles for the submit button */
  .add-district-form button {
    background-color: #d76359; /* Change button color */
    color: #fff; /* Set button text color */
    padding: 10px 20px; /* Adjust button padding */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  /* Add space between label and input */
  .add-district-form label {
    margin-right: 20px; /* Add space between label and input */
  }
  