{% extends "Voter/header.html" %}
{% load static %}

{% block title %}Candidate Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'Candidate/candidatePg.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
<main>
    <section class="upload-section">
        <div class="section-box profile-section">
            <div class="profile-details">
                <div class="profile-picture-container">
                    {% if candidate_profile.profile_picture %}
                    <img id="profilePictureDisplay" src="{{ candidate_profile.profile_picture.url }}" alt="Profile Picture" class="profile-preview">
                    {% else %}
                    <img id="profilePictureDisplay" src="{% static 'images/profile.png' %}" alt="Profile Picture" class="profile-preview">
                    {% endif %}
                    
                    {% if is_owner %}
                    <button class="edit-icon" onclick="openProfilePopup()"> 
                        <i class="fas fa-pencil-alt"></i> <!-- Font Awesome edit icon -->
                    </button>
                    {% endif %}
                </div>
                <div class="profile-info">
                    <h3>Name: {{ candidate_profile.candidate.full_name }}</h3>
                    <h3>Party: {{ candidate_profile.candidate.party.party_name }}</h3>
                </div>
            </div>
        </div>

        <div class="section-box">
            <h3>Campaign Poster</h3>
            <div class="poster-picture-container">
                {% if candidate_profile.election_poster %}
                <img id="posterPictureDisplay" src="{{ candidate_profile.election_poster.url }}" alt="Election Poster" class="poster-preview">
                {% else %}
                <img id="posterPictureDisplay" src="{% static 'images/poster.png' %}" alt="Poster Picture" class="poster-preview">
                {% endif %}
                {% if is_owner %}
                <button class="edit-icon" onclick="openPosterPopup()">
                    <i class="fas fa-pencil-alt"></i> <!-- Font Awesome edit icon -->
                </button>
                {% endif %}
            </div>
        </div>

        <div class="section-box">
            <h3>My Statement</h3>
            <div class="info-box">
                {% if candidate_profile.candidate_statement %}
                <p id="informationDisplay">{{ candidate_profile.candidate_statement }}</p>
                {% else %}
                <p id="informationDisplay">Type your statement here...</p>
                {% endif %}
                
                {% if is_owner %}
                <button class="edit-icon" onclick="openEditPopup()">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                {% endif %}
            </div>
        </div>
    </section>
</main>

<div id="editPopup" class="popup">
    <div class="popup-content">
        <h2>Edit Information</h2>
        <form id="editInformation" method="post" action="{% url 'upload_candidate_statement' %}">
            {% csrf_token %}
            {{ candidate_statement_form.as_p }}
            <button type="submit" {% if not is_owner %}disabled{% endif %}>Update</button>
        </form>
        <button onclick="deleteInformation()" {% if not is_owner %}disabled{% endif %}>Delete</button>
        <button onclick="closeEditPopup()">Close</button>
    </div>
</div>

<div id="profilePopup" class="popup">
    <div class="popup-content">
        <h2>Edit Profile Picture</h2>
        <img id="profilePopupPicture" src="{% static 'images/profile.png' %}" alt="Profile Picture Preview" class="preview">
        <form id="profilePicForm" method="post" enctype="multipart/form-data" action="{% url 'upload_profile_picture' %}">
            {% csrf_token %}
            {{ profile_picture_form.as_p }}
            <button type="submit" {% if not is_owner %}disabled{% endif %}>Upload</button>
        </form>
        <button onclick="deleteProfilePicture()" {% if not is_owner %}disabled{% endif %}>Delete</button>
        <button onclick="closeProfilePopup()">Close</button>
    </div>
</div>

<div id="posterPopup" class="popup">
    <div class="popup-content">
        <h2>Edit Poster Picture</h2>
        <img id="posterPopupPicture" src="{% static 'images/poster.png' %}" alt="Poster Picture Preview" class="preview">
        <form id="electionPosterForm" method="post" enctype="multipart/form-data" action="{% url 'upload_election_poster' %}">
            {% csrf_token %}
            {{ election_poster_form.as_p }}
            <button type="submit" {% if not is_owner %}disabled{% endif %}>Upload</button>
        </form>
        <button onclick="deletePosterPicture()" {% if not is_owner %}disabled{% endif %}>Delete</button>
        <button onclick="closePosterPopup()">Close</button>
    </div>
</div>

<script src="{% static 'Candidate/candidatePg.js' %}"></script>
{% endblock %}