{% extends 'adminDashboard/base.html' %}
{% load static %}

{% block title %}Create New User{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'userAccount/createUserAcc.css' %}">
<style>
    .errorlist {
        color: red;
    }
</style>
<div class="main">
    <h1 style="text-align: center; margin: 120px 0px 20px 0px">Create New User Account</h1>
    <form method="post" action="{% url 'create_account' 'normal_upload' %}" class="create-new-user-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="create_new" style="margin-left: 270px;" {% if disable_creation %}disabled{% endif %}>Create New Account</button>
    </form>
    <h6 style="text-align: center; margin: 20px 0px 8px 0px"> Or </h6>
    <form method="post" enctype="multipart/form-data" action="{% url 'create_account' 'csv_upload' %}" class="create-new-user-form">
        {% csrf_token %}
        {{ csv_form.as_p }}
        <button type="submit" name="create_new" style="margin-left: 265px;" {% if disable_creation %}disabled{% endif %}>Create New Accounts</button>
    </form>
</div>

{% if messages %}
    <div id="popupAlert" class="popup-alert show">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    <script>
        // Show the alert
        const alertBox = document.getElementById('popupAlert');
        alertBox.classList.add('show');
        
        // Hide the alert after 3 seconds
        setTimeout(() => {
            alertBox.classList.remove('show');
        }, 3000);
    </script>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const roleField = document.getElementById('id_role');
        const partyField = document.getElementById('id_party');
        const districtField = document.getElementById('id_district');

        function disableFields() {
            const roleValue = roleField.value;
            console.log('Role Value:', roleValue); // Debugging
            if (roleValue === '2') { // Check if role is 'admin'
                console.log('Disabling fields'); // Debugging
                partyField.disabled = true;
                districtField.disabled = true;
            } else {
                console.log('Enabling fields'); // Debugging
                partyField.disabled = false;
                districtField.disabled = false;
            }
        }

        disableFields();

        // Add event listeners to the role field
        roleField.addEventListener('change', function() {
            console.log('Role field changed');
            disableFields();
        });
    });
</script>
{% endblock %}
