{% extends 'adminDashboard/base.html' %}
{% load static %}

{% block title %}Create New User{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'userAccount/createUserAcc.css' %}">

    <div class="main">
        <h1 style="text-align: center;">Create New User Account</h1>
        <form method="post" action="/create/" class="create-new-user-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="create_new" >Create New Account</button>
        </form>
    </div>
    {% if success %}
        <div id="popupAlert" class="popup-alert show">
            Account successfully created!
        </div>
        <script>
            // Show the alert
            const alertBox = document.getElementById('popupAlert');
            alertBox.classList.add('show');
            
            // Hide the alert after 3 seconds
            setTimeout(() => {
                alertBox.classList.remove('show');
            }, 3000);
        </script>
    {% endif %}
   
{% endblock %}
